include README.rst COPYING COPYRIGHT MANIFEST.in INSTALL.rst LICENSE
include requirements.txt
include extension/*.c
include extension/include/*.h
include lz4/*.c
include lz4/include/*.h
include tests/*.py
include dbdreader/data/*.[stdem][bcl][dg]
include dbdreader/data/cac/*.c[ac]c
include dbdreader/data/cac_missing/*.cac
include examples/*.py
